header .header-contacts #contacts-container, header .header-contacts #contacts-container .half, header .header-body, header .header-info .header-info-nav, header .nav, main #article-page, main #present .see-it, main #present .links, main #video-section .video-header, main #video-section .video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .nav .nav-item .nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans';
  font-style: normal;
}

.wrapper {
  width: 153.6rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.hidden-2 {
  pointer-events: none;
}

header {
  width: 144rem;
  height: 23.6rem;
  margin: auto;
  margin-top: 1.2rem;
  box-shadow: 0 0.4rem 4.8rem rgba(0, 0, 0, 0.16);
}
header .header-contacts {
  width: 100%;
  height: 3.2rem;
  background: #FED600;
}
header .header-contacts #contacts-container {
  width: 120rem;
  margin: auto;
}
header .header-contacts #contacts-container .half {
  height: 100%;
  width: 55rem;
  font-weight: 600;
  font-size: 1.3rem;
}
header .header-contacts #contacts-container .half #icons a + a {
  margin-left: 1.9rem;
}
header .header-contacts #contacts-container .half:last-child {
  width: 42.2rem;
}
header .header-body {
  width: 120rem;
  margin: auto;
  margin-top: 1.6rem;
}
header .header-body #logo {
  height: 7.5rem;
}
header .header-body #tagline {
  width: 13.3rem;
}
header .header-body #tagline p {
  font-size: 1.3rem;
  line-height: 1.38;
  font-style: italic;
  font-weight: normal;
}
header .header-body #tagline p span {
  color: #D2001C;
}
header .header-body #yandex {
  width: 10.5rem;
  height: 6rem;
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.16);
  border-radius: 0.8rem;
}
header .header-body #yandex img {
  padding: 0.5rem 1.2rem;
}
header .header-body #search {
  width: 52.1rem;
  height: 4.4rem;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 0.4rem;
}
header .header-body #search input[type="search"] {
  width: 84.2%;
  height: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.38;
}
header .header-body #search input[type="submit"] {
  width: 7.5rem;
  height: 3.6rem;
  border: 0.2rem solid #D2001C;
  box-sizing: border-box;
  border-radius: 0.4rem;
  background: #fff;
  color: #D2001C;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.38;
  cursor: pointer;
}
header .header-body #login {
  height: 2.4rem;
  background-image: url(../images/header/header-body/Frame.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
header .header-body #login a {
  padding: 0 0 0 3.4rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #222222;
}
header .header-body #basket button {
  width: 16rem;
  height: 3.6rem;
  padding-left: 2.5rem;
  background: #D2001C;
  background-image: url(../images/header/header-body/basket.svg);
  background-repeat: no-repeat;
  background-position-x: 1.6rem;
  background-position-y: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.38;
}
header .header-info {
  width: 100%;
  padding: 1.3rem 0 2.2rem 0;
  border-bottom: 1px solid rgba(189, 189, 189, 0.35);
}
header .header-info .header-info-nav {
  width: 120rem;
  margin: auto;
  font-size: 1.3rem;
  line-height: 1.38;
}
header .nav {
  width: 120rem;
  height: 6rem;
  margin: auto;
}
header .nav .nav-item {
  position: relative;
}
header .nav .nav-item[data-state="active"] .nav-container {
  opacity: 1;
}
header .nav .nav-item .nav-title {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.38;
  padding-right: 2rem;
  background-image: url(../images/header/header-nav/nav-arrow.svg);
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
}
header .nav .nav-item .nav-container {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  border: 1px solid rgba(189, 189, 189, 0.35);
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #fff;
  z-index: 8;
}
header .nav .nav-item .nav-container a {
  width: 80%;
  height: 30%;
  padding: 10%;
  text-align: center;
}
header .nav .nav-item .nav-container a:hover {
  background: rgba(189, 189, 189, 0.35);
}

main {
  width: 100%;
  margin-bottom: 10rem;
}
main #image {
  width: 122.8rem;
  height: 43.1rem;
  margin: auto;
  margin-top: 7.06rem;
  background-image: url(../images/main/Mask-Group.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main #article-page {
  width: 122.8rem;
  margin: auto;
  margin-top: 5rem;
  align-items: flex-start;
  font-family: 'SF Pro Display';
}
main #article-page #article-job h1 {
  width: 33.3rem;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 1.18;
}
main #article-page #article-job button {
  width: 28rem;
  height: 4.4rem;
  background-color: #D2001C;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.19;
}
main #article-page #article-job p {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.21;
  color: #C4C4C4;
}
main #article-page #article-text {
  width: 70.8rem;
}
main #article-page #article-text p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.19;
  text-align: justify;
  color: #4D4D4D;
}
main #article-page #article-text p a {
  text-decoration: underline;
  color: #D2001C;
}
main #article-page #article-text p + p {
  margin-top: 2rem;
}
main #present {
  width: 122.8rem;
  margin: auto;
  margin-top: 7rem;
}
main #present .see-it h1 {
  width: 29rem;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #222222;
}
main #present .see-it hr {
  width: 91.6rem;
  opacity: 0.1;
  border: 1px solid #000000;
}
main #present .links {
  height: 10rem;
  font-family: 'SF Pro Display';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.19;
  color: #4D4D4D;
}
main #present .links p a {
  border-bottom: 1px solid #4D4D4D;
}
main #present .links p img {
  display: inline;
  padding-left: 1rem;
}
main #present .links p:first-child a {
  color: #D2001C;
  border-bottom: 1px solid #D2001C;
}
main #video-section {
  width: 144.8rem;
  margin: auto;
  background: #F9F9F9;
}
main #video-section .video-header {
  width: 117.4rem;
  margin: auto;
  padding-top: 7rem;
}
main #video-section .video-header h1 {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.19;
  color: #222222;
}
main #video-section .video-header .video-btn {
  width: 4rem;
  height: 3.9rem;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  background-size: 25% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
main #video-section .video-header .left-btn {
  background-image: url(../images/main/left-btn.svg);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
main #video-section .video-header .right-btn {
  background-image: url(../images/main/right-btn.svg);
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
main #video-section .video {
  width: 117.4rem;
  margin: auto;
  margin-top: 6rem;
  padding-bottom: 7rem;
}
main #video-section .video .video-container iframe {
  width: 55rem;
  height: 31rem;
}

.select {
  position: relative;
  width: 13rem;
  line-height: 3.2rem;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.3rem;
  color: #000000;
}
.select[data-state="active"] .select__title::before {
  transform: translate(-0.15rem, -50%) rotate(-45deg);
}
.select[data-state="active"] .select__title::after {
  transform: translate(0.15rem, -50%) rotate(45deg);
}
.select[data-state="active"] .select__content {
  opacity: 1;
}
.select[data-state="active"] .select__label + .select__input + .select__label {
  max-height: 4rem;
  border-top-width: 1px;
}

.select__title {
  padding: 0 1.6rem 0 0;
  cursor: pointer;
}
.select__title::before, .select__title::after {
  content: "";
  position: absolute;
  top: 52%;
  right: 0.5rem;
  display: block;
  width: 0.6rem;
  height: 0.2rem;
  transition: all 0.3s ease-out;
  background-color: #333333;
  transform: translate(-0.15rem, -50%) rotate(45deg);
}
.select__title::after {
  transform: translate(0.15rem, -50%) rotate(-45deg);
}
.select__title:hover {
  border-color: #D2001C;
}
.select__title:hover::before, .select__title:hover::after {
  background-color: #D2001C;
}

.select__content {
  position: absolute;
  top: 2.8rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.6rem);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.select__input {
  display: none;
}
.select__input:checked + label {
  background-color: #dedede;
}
.select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select__label {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 0 0 1.4rem;
  font-size: 1.1rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.select__label + input + .select__label {
  border-top: 0 solid #C7CCD160;
}
.select__label:hover {
  background-color: #D2001C;
  color: #ffffff;
}
